<div class="centered-content">
  <div class="login-box">

    <h1 class="title has-text-dark">Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="field mt-4">
        <p class="control">
          <input class="input" id="username" formControlName="username" type="text" placeholder="Username">
        </p>
      </div>
      <div class="field mt-4">
        <p class="control">
          <input class="input" id="password" formControlName="password" type="password" placeholder="Password">
        </p>
      </div>
      <div class="field mt-4">
        <p class="control">
          <button class="button is-success is-pulled-right">
            Login
          </button>
        </p>
      </div>
    </form>
    <p class="has-text-centered mt-5">
      <a routerLink="/signup" class="has-text-primary">New account</a>
    </p>
    <!-- Error Message Box -->
    <div *ngIf="isLoginFailed" class="notification is-danger mt-4">
      Failed to login
    </div>
  </div>
</div>
